button{
  border: none;
  background: rgb(80,60,209);
  font-size: 24px;
  color: rgb(244,244,244);
  font-weight: bold;
  border-radius: 10px;
  outline: none;
}
button:hover{
  background-color: rgb(45,45,184);
}
.equals{
  grid-column: 3/5;
  background: rgb(243,61,29);
}
.equals:hover{
  background: rgb(228,39,15);

}
